:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    color: rgb(4, 69, 93);
    text-decoration: underline;
}