
.result {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.result h3 {
    margin-top: 1rem;
}

.result ul {
    margin-bottom: 1rem;
}
.result li {
    margin: 0.5rem 0;
    font-size: 80%;
}
.result li span {
    background-color: #ccc;
    padding: 2px 5px;
}
.result li span::selection {
    background-color: yellow;
    color: black;
}


.result .actions {
    position: absolute;
    top: 1rem;
    right: 0;
    visibility: hidden;
}

.result:hover .actions {
    visibility: visible;
}